* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", "Inter", serif;
}

/* common styles */
.main {
  max-width: 100%;
  margin: 0 140px;
  align-items: center;
  justify-content: center;
}

section {
  margin-top: 50px;
}

/* banner section */

.banner-section {
  margin-top: 50px;
  background-image: linear-gradient(
      to bottom,
      rgba(7, 2, 17, 0.6),
      rgba(7, 2, 17, 0)
    ),
    url("../images/Banner_Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  height: 700px;
  width: 100%;
  border-radius: 16px;
}

.banner {
  font-family: "Merriweather", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.banner > h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}

.banner > h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
}

/* discount Section */
.discount-section {
  font-family: "Inter", serif;
}

.discount {
  margin: 220px 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discount > h1 {
  text-align: center;
  color: #ff0000;
  font-size: 88px;
  font-weight: 800;
}

.discount > h3 {
  text-align: center;
  color: #ff0000;
  font-size: 24px;
  font-weight: 600;
  margin-top: 50px;
}

.discount > h2 {
  text-align: center;
  color: #070211;
  font-size: 48px;
  font-weight: 800;
  margin-top: 20px;
}

.discount > img {
  margin-top: 30px;
}

/* party section starts */

.party-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(7, 2, 17, 1),
      rgba(7, 2, 17, 0)
    ),
    url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  height: 750px;
  width: 100%;
  border-radius: 16px;
  padding: 64px;
  gap: 24px;
}

.party-text {
  font-family: "Merriweather", serif;
  color: #fff;
  margin: 0 100px;
}

.party-text > h2 {
  font-weight: 900;
  font-size: 64px;
  letter-spacing: 8px;
  line-height: 1.5;
}

.party-text > p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.party-text > button {
  color: #fff;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  font-weight: 800;
  font-size: 20px;
}

.party-image {
  height: 55%;
  margin-right: 100px;
}

/* venue section starts */

.venue-section {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.4),
    rgba(255, 0, 0, 0)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  border-radius: 16px;
}

.venue-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.8;
  margin-top: 60px;
}

.venue-title {
  color: #ff0000;
}
.venue-text > h2 {
  text-align: center;
}

.venue-join-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.venue-button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: #ff0000;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
}
