* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", "Inter", serif;
}

/* common styles */
.main {
  max-width: 100%;
  margin: 0 140px;
  align-items: center;
  justify-content: center;
}

section {
  margin-top: 50px;
}
.center {
  display: flex;
  justify-content: center;

  align-items: center;
}

.center-column {
  flex-direction: column;
}
.display-columm {
  display: flex;
  flex-direction: column;
}

/* banner section */

.banner-section {
  margin-top: 50px;
  background-image: linear-gradient(
      to bottom,
      rgba(7, 2, 17, 0.6),
      rgba(7, 2, 17, 0)
    ),
    url("../images/Banner_Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  height: 700px;
  width: 100%;
  border-radius: 16px;
}

.banner {
  font-family: "Merriweather", serif;

  height: 70vh;
}

.banner > h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}

.banner > h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
}

/* discount Section */
.discount-section {
  font-family: "Inter", serif;
}

.discount {
  margin: 220px 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discount > h1 {
  text-align: center;
  color: #ff0000;
  font-size: 88px;
  font-weight: 800;
}

.discount > h3 {
  text-align: center;
  color: #ff0000;
  font-size: 24px;
  font-weight: 600;
  margin-top: 50px;
}

.discount > h2 {
  text-align: center;
  color: #070211;
  font-size: 48px;
  font-weight: 800;
  margin-top: 20px;
}

.discount > img {
  margin-top: 30px;
}

/* party section starts */

.party-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
      to right,
      rgba(7, 2, 17, 1),
      rgba(7, 2, 17, 0)
    ),
    url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  height: 750px;
  width: 100%;
  border-radius: 16px;
  padding: 64px;
  gap: 24px;
}

.party-text {
  font-family: "Merriweather", serif;
  color: #fff;
  margin: 0 100px;
}

.party-text > h2 {
  font-weight: 900;
  font-size: 64px;
  letter-spacing: 8px;
  line-height: 1.5;
}

.party-text > p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.party-text > button {
  color: #fff;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  font-weight: 800;
  font-size: 20px;
}

.party-image {
  height: 55%;
  margin-right: 100px;
}

/* venue section starts */

.venue-section {
  margin-top: 150px;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.4),
    rgba(255, 0, 0, 0)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  border-radius: 16px;
}

.venue-text {
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.8;
  margin-top: 60px;
}

.title {
  color: #ff0000;
}
.venue-text > h2 {
  text-align: center;
}

.venue-join-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.venue-button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: #ff0000;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
}

/* holiday sales section starts */
.holiday-sales-section {
  margin-top: 150px;
  width: 100%;
  background-image: url("../images/Rectangle_2.png");
  background-repeat: no-repeat;
  min-height: auto;
  background-position: bottom;
  border-radius: 16px;
}
.holiday-image {
  justify-content: space-between;
}
.img-box > img {
  margin-top: 30px;
  z-index: -10;
}

.img-girl {
  position: relative;
}

.img-girl > img {
  display: block;
  margin-left: 95px;
  padding-bottom: 190px;
  border-radius: 16px;
  z-index: -1;
}

.bg-img {
  position: absolute;
  top: 60px;
  left: -40px;
  width: 300px;
  height: 300px;
  background-image: url("../images/Group_44.png");
  background-size: cover;
}

.holiday-texts {
  font-family: "Inter", serif;
  text-align: center;
  line-height: 1.8;
}

.holiday-texts > h3 {
  font-weight: 600;
  font-size: 24px;
}

.holiday-texts > h2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 72px;
}

.holiday-texts > p {
  font-weight: 400;
  font-size: 18px;
  color: #070211;
}

/* portfolio section starts  */
.portfolio-section {
  margin-top: 100px;
  margin-left: 100px;
}

.portfolio-texts {
  font-family: "Inter", serif;
  line-height: 1.8;
  margin-left: 120px;
}

.portfolio-texts > h3 {
  font-weight: 600;
  font-size: 24px;
  color: #ff0000;
}

.portfolio-texts > h2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 42px;
}

.portfolio-texts > p {
  font-weight: 400;
  font-size: 18px;
  color: #070211;
}

.portfolio_image {
  margin-top: 30px;
  gap: 16px;
}

/* newsletter section */
.newsletter-section {
  margin-top: 100px;
  background-color: rgba(255, 0, 0, 0.126);
  padding-bottom: 50px;
  border-radius: 16px;
}

.newsletter-img {
  margin-top: 150px;
}
.newsletter-texts {
  line-height: 1.8;
  margin-left: 120px;
}

.newsletter-texts > h2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 42px;
}

.newsletter-texts > p {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 18px;
  color: #070211;
}
.newsletter-form > input {
  margin-top: 20px;
  padding: 15px;
  display: inline;
}

.newsletter-form > input[type="text"] {
  width: 400px;

  color: #070211;
  background: #fff;
  border: none;
  border-radius: 35px 0 0 35px;
}

.newsletter-form > input[type="button"] {
  width: 140px;
  color: #fff;
  background: #ff0000;
  border: none;
  border-radius: 0 30px 30px 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
